<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
</head>
<body>
 <form method="post">
     <table>
         <tr>
 <td> Bangla:</td>
  <td><input type="text" name="bangla" onfocus="this.value=''" value="Your Grade">
      </td>   </tr>
         <tr>
  <td>Math:</td>
  <td><input type="text" name="math" onfocus="this.value=''" value="Your Grade">
             </td></tr>
         <tr>
     <td>English:</td>
 <td> <input type="text" name="english" onfocus="this.value=''" value="Your Grade"><br><br>
     </td></tr>
            <tr>
                <td>Physics:</td>
  <td><input type="text" name="physics" onfocus="this.value=''" value="Your Grade"><br><br>
     </td></tr>
               <tr>
                   <td>Chemistry:</td>
  <td><input type="text" name="Chemistry" onfocus="this.value=''" value="Your Grade"><br><br>
     </td></tr>
                  <tr>
                      <td>Biology:</td>
  <td><input type="text" name="Biology" onfocus="this.value=''" value="Your Grade"><br><br>
  </td></tr>
                     <tr><td> <input type="submit" value="Submit"></td></tr>
     </table>
</form>
</body>
</html>